<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ExampleController</servlet-name>
        <servlet-class>Controller.ExampleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemController</servlet-name>
        <servlet-class>Controller.ItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>Controller.Account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Controller.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>Controller.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingBasket</servlet-name>
        <servlet-class>Controller.ShoppingBasket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExampleController</servlet-name>
        <url-pattern>/ExampleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemController</servlet-name>
        <url-pattern>/ItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/account/login</url-pattern>
        <url-pattern>/account/manage</url-pattern>
        <url-pattern>/account/register</url-pattern>
        <url-pattern>/account/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingBasket</servlet-name>
        <url-pattern>/basket/view</url-pattern>
        <url-pattern>/basket/add</url-pattern>
        <url-pattern>/basket/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/admin/offers/all</url-pattern>
        <url-pattern>/admin/login</url-pattern>
        <url-pattern>/admin/items</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <display-name>Header and footer</display-name>
            <url-pattern>/basket/*</url-pattern>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/account/*</url-pattern>
            <url-pattern>/admin/*</url-pattern>
            <url-pattern>/item/*</url-pattern>
            <include-prelude>/WEB-INF/includes/header.jsp</include-prelude>
            <include-coda>/WEB-INF/includes/footer.jsp</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
