<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ExampleController</servlet-name>
        <servlet-class>Controller.ExampleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemController</servlet-name>
        <servlet-class>Controller.ItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>Controller.Account</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExampleController</servlet-name>
        <url-pattern>/ExampleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemController</servlet-name>
        <url-pattern>/ItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/account/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/account/manage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
