/* 
    Document   : style
    Created on : 18-Mar-2011, 22:27:16
    Author     : Robbie
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body{
    font-size: 62.5%;
    font-family: verdana,arial,sans-serif;
    text-align: center;
}

p {
    margin: 10px 0px;
}

#container {
    width: 980px;
    margin: 0 auto;
    text-align: left;
}

#content {

}

#item_list li {
    display: block;
    float: left;
    width: 200px;
    height: 200px;
}

#footer {
    clear: both;
}