/*
    Master reset for all browsers
*/
h1,h2,h3,input,a,ul,li,p
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: "Verdana,Arial,Sans-Serif";
    font-size: 62.5%;
    text-align: center;
}


h1{font-size: 2em;}
h2{font-size: 1.6em;}
h3{font-size: 1.4em;}

p
{
    margin: 10px 0px;
}


#container
{
    width: 980px;
    margin: 0 auto;
    text-align: left;
}

#header
{
    
}

#content {

}


#footer {
    clear: both;
}


form .error
{
    color: red;
    font-weight: bold;
}

#item_list li {
    display: block;
    float: left;
    width: 200px;
    height: 200px;
}